<%- include ('../secret/heade') %>
<div class="page-content">
<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Edit Education Details</h2>
    </div>
  </div>

    <section class="no-padding-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form method="POST" action="/secret/update-education/88 %>" enctype="multipart/form-data">
                <div class="wrapper1">
                  <br>
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;">
                        <input type="hidden" name="my_emp_id" value="<%= print[0].employee_id %>">
                        <p style="margin-left:30px">Employee Id: <b style="color:white"><%= print[0].employee_id %></b></p>
                      </div>
                  </div>
                  <br>
                  <div class="row add-row">
                    <% print.forEach(function(user,index) { %>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h2 style="margin-left:30px;font-size:30px">
                        Education <%= (index+1) %>
                      </h2>
                      <input type="hidden" name="emp_id" value="<%= print[0].employee_id %>">
                    </div>
                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <select name="education_type" required>
                            <option value="--">Select Education Type</option>
                            <% print2.forEach(function(user2) { %>
                            <% if(user.TYPE_ID==user2.ID) { %>
                              <option value="<%= user2.ID %>" selected><%= user2.NAME %></option>
                            <% } else { %>
                              <option value="<%= user2.ID %>"><%= user2.NAME %></option>
                              <% } %>
                              <% }) %>
                        </select>
                        <label data-content="Education Type">Education Type</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <select name="education_branch" required>
                            <option value="--">Select Branch</option>
                            <% print1.forEach(function(user1) { %>
                            <% if(user.BRANCH_ID==user1.ID) { %>
                              <option value="<%= user1.ID %>" selected><%= user1.NAME %></option>
                            <% } else { %>
                              <option value="<%= user1.ID %>"><%= user1.NAME %></option>
                              <% } %>
                              <% }) %>
                        </select>
                        <label data-content="Education Branch">Education Branch</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <select name="education_grade" required>
                            <option value="--">Select Grade</option>
                            <% print3.forEach(function(user3) { %>
                            <% if(user.GRADE_ID==user3.ID) { %>
                              <option value="<%= user3.ID %>" selected><%= user3.NAME %></option>
                            <% } else { %>
                              <option value="<%= user3.ID %>"><%= user3.NAME %></option>
                              <% } %>
                              <% }) %>
                        </select>
                        <label data-content="Grade">Grade</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield red">
                        <input type="text" name="percentage" value="<%= user.PERCENTAGE %>" required/>
                        <label data-content="Percentage">Percentage</label>
                     </div>
                    </div>
                    <% }) %>
                  </div>
    <button type="submit" class="btn-submit">Update</button>
  </div>
    </form>
            </div>
          </div>
        </div>
      </section>
      </div>
</div>
<%- include ('partials/footer'); -%>
<script>
  var count_index=parseInt($(".count_index").val());
  var i=0;
$(".add-btn").click(function()
{
  i++;
  count_index=count_index+1;
  $(".enter_new").val(i);
  $(".count_index").val(count_index);
    $(".add-row").append('<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"><h2 style="margin-left:30px">Education '+(count_index+1)+'</h2></div><br><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><div class="material-textfield blue"><select name="education_type'+count_index+'" required><option value="--">Select Education Type</option><% print2.forEach(function(user2) { %><option value="<%= user2.ID %>"><%= user2.NAME %></option><% }) %></select><label data-content="Education Type">Education Type</label></div></div><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><div class="material-textfield blue"><select name="education_branch'+count_index+'" required><option value="--">Select Branch</option><% print1.forEach(function(user1) { %><option value="<%= user1.ID %>"><%= user1.NAME %></option><% }) %></select><label data-content="Education Branch">Education Branch</label></div></div><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><div class="material-textfield blue"><select name="education_grade'+count_index+'" required><option value="--">Select Grade</option><% print3.forEach(function(user3) { %><option value="<%= user3.ID %>"><%= user3.NAME %></option><% }) %></select><label data-content="Education Grade">Education Grade</label></div></div><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><div class="material-textfield red"><input type="text" name="percentage'+count_index+'" required/><label data-content="Percentage">Percentage</label></div></div>')
})
$(function() {
    $( "#datepicker").datepicker({format: 'yyyy-mm-dd'});
    $( "#datepicker1").datepicker({format: 'yyyy-mm-dd'});
    $("#files").inputFileText( { text: 'Upload Experience Certificate',buttonClass: 'upload-image' } );
    });
</script>
</body>

</html>