<%- include ('../secret/heade') %>
<div class="page-content">
<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Update Employee</h2>
    </div>
  </div>

  
  <%
                           
  function convert(str) {
    var date = new Date(str),
      mnth = ("0" + (date.getMonth() + 1)).slice(-2),
      day = ("0" + date.getDate()).slice(-2);
    return [day, mnth,date.getFullYear() ].join("-");
    
  }
  %>
    <section class="no-padding-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form method="POST" action="/secret/update-user-details/<%= print[0].EMP_ID %>" enctype="multipart/form-data">
                <div class="wrapper1">
                  <br>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <input style="color: gray;"  type="text" name="employee_id" value="<%= print[0].EMP_ID %>" id="emp_id" readonly required/>
                        <label data-content="Employee ID">Employee ID</label>
                      </div>
                      <span style="margin-left: 30px;
                      color: red;" id="empid-label"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield red">
                        <input type="text" name="first_name" value="<%= print[0].FIRTS_NAME %>" required/>
                        <label data-content="First Name">First Name</label>
                     </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                          <input type="text" name="middle_name" value="<%= print[0].MIDDLE_NAME %>" required/>
                          <label data-content="Middle Name">Middle Name</label>
                       </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                          <input type="text" name="last_name" value="<%= print[0].LAST_NAME %>" required/>
                          <label data-content="Last Name">Last Name</label>
                       </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <input type="text" name="dob"  id="datepicker" value="<%= convert(print[0].DATE_OF_BIRTH) %>" required/>
                        <label data-content="Date of Birth">Date of Birth</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield red">
                        <input type="text" name="doj" id="datepicker1" value="<%= convert(print[0].DATE_OF_JOIN) %>" required/>
                        <label data-content="Date of joining">Date of joining</label>
                     </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                          <select name="designation" required>
                              <option value="--">Select Designation</option>
                              <% print1.forEach(function(user1) { %>
                                <% if(user1.ID==print[0].DESIGNATION_ID) { %>
                                <option value="<%= user1.ID %>" selected><%= user1.DESIGNATION %></option>
                                <% } else { %>
                                  <option value="<%= user1.ID %>"><%= user1.DESIGNATION %></option>
                                  <% } %>
                                <% }) %>
                          </select>
                        <label data-content="Designation">Designation</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <select name="gender" required value="<%= print[0].GENDER_ID %>">
                                <option value="--">Select Gender</option>
                                <% print2.forEach(function(user2) { %>
                                  <% if(user2.ID==print[0].GENDER_ID) { %>
                                  <option value="<%= user2.ID %>" selected><%= user2.GENDER %></option>
                                  <% } else { %>
                                    <option value="<%= user2.ID %>"><%= user2.GENDER %></option>
                                    <% } %>
                                  <% }) %>
                            </select>
                          <label data-content="Gender">Gender</label>
                        </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <input type="text" name="reporting_to" value="<%= RID.EMP_ID %>" required/>
                        <label data-content="Reporting To">Reporting To</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield red">
                        <input type="text" name="p_email" value="<%= print[0].P_EMAIL %>" required/>
                        <label data-content="Personal Email">Personal Email</label>
                     </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <input type="text" name="w_email" value="<%= print[0].W_EMAIL %>" required/>
                        <label data-content="Work Email">Work Email</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                          <input type="text" name="p_phone" value="<%= print[0].P_PHONE %>" required/>
                          <label data-content="Personal Phone No.">Personal Phone No.</label>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <input type="text" name="w_phone" value="<%= print[0].W_PHONE %>" required/>
                        <label data-content="Work Phone No.">Work Phone No.</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <input type="file" id="files" class="form-control" name="photo" />
                            <input type="hidden" id="upfile" name="updatephoto" value="<%= print[0].PHOTO_PATH %>"/>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <select name="country" required value="<%= print[0].COUNTRY_ID %>">
                            <option value="--">Select Country</option>
                            <% print3.forEach(function(user3) { %>
                              <% if(user3.ID==print[0].COUNTRY_ID) { %>
                              <option value="<%= user3.ID %>" selected><%= user3.NAME %></option>
                              <% } else { %>
                                <option value="<%= user3.ID %>"><%= user3.NAME %></option>
                                <% } %>
                              <% }) %>
                        </select>
                      <label data-content="Country">Country</label>
                      </div>
                    </div>
                    
                  </div>
    <br>
    <button type="submit" class="btn-submit">Update</button>
  </div>
    </form>
            </div>
          </div>
        </div>
      </section>
      </div>
</div>
<%- include ('partials/footer'); -%>
<script>
$(function() {
    $( "#datepicker").datepicker({format: 'yyyy-mm-dd'});
    $( "#datepicker1").datepicker({format: 'yyyy-mm-dd'});
    $("#files").inputFileText( { text: 'Upload Employee Photo',buttonClass: 'upload-image' } );
    });
</script>
</body>

</html>