<%- include ('../secret/heade') %>
<div class="page-content">
<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Add Employee's Bank Details</h2>
    </div>
  </div>


  <%
                           
  function convert(str) {
    var date = new Date(str),
      mnth = ("0" + (date.getMonth() + 1)).slice(-2),
      day = ("0" + date.getDate()).slice(-2);
    return [date.getFullYear(), mnth, day].join("-");
  }
  %>
    <section class="no-padding-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form method="POST" action="/secret/update_experience/<%= print[0].ID %>/<%= print[0].emp_id %>" enctype="multipart/form-data">
                <input type="hidden" name="emp_id" value="<%= print[0].e_id %>" >
                <div class="wrapper1">
                  <br>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;">
                      <p style="margin-left:30px">Employee Id: <b style="color:white"><%= print[0].e_id %></b></p>
                    </div>
                </div>
                <br>
                  <div class="row add-row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield blue">
                        <input type="text" name="company_name" value="<%= print[0].COMPANY_NAME %>" required/>
                        <label data-content="Company Name">Company Name</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="material-textfield red">
                        <input type="text" name="designation" value="<%= print[0].DESIGNATION %>" required/>
                        <label data-content="Designation">Designation</label>
                     </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                          <span>From Date</span>
                        <input type="date" name="from" value="<%=convert(print[0].FROM_DATE) %>" id="datepicker" required/>
                          
                       </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <span>To Date</span>
                        <div class="material-textfield red">
                          <input type="date" name="to" value="<%= convert(print[0].TO_DATE)%>" id="datepicker1" required/>
                         
                       </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <p>File Name: <%= print[0].EXP_CERTIFICATE_PATH %></p>
                          <input type="file" id="file" class="form-control" name="exp_cert"/>
                          <input type="hidden" value="<%= print[0].EXP_CERTIFICATE_PATH %>" name="exp_update">
                        </div>
                      </div>
                      <br>
                  </div>
    <br>
    <button class="btn-submit">Update</button>
  </div>
    </form>
            </div>
          </div>
        </div>
      </section>
      </div>
</div>
<%- include ('partials/footer'); -%>

<script>
$("#flight").change(function () {
  if(fileExtValidate(this)) {
     if(fileSizeValidate(this)) {
       showImg(this);
      
     }
     
     else{
    $("#file").val('');
  }
  }
  else{
    $("#file").val('');
  }
  
  
});

</script>



</body>
 
</html>