<%- include ('../secret/heade') %>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-top no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
               
              </div>
           
             
           
            </div>
          </div>
        </section>
        <section class="no-padding-top no-padding-bottom payroll-list-sec">
          <div class="container-fluid payroll-list">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <h2 class="form-heading-table">Employee Holiday  List</h2>
                    <hr class="hr-divider-table">
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="padding-top: 15px;">
                    <div class="arrows" style="display: inline-block;">
                      <form method="get" action="prev" style="display: inline-block;">
                        <button>
                      <img src="http://localhost:1915/img/prev-btn.png" style="height:15px">
                    </button>
                    </form>&nbsp;&nbsp;&nbsp;&nbsp;
                    <form method="get" action="next" style="display: inline-block;">
                      <button>
                      <img src="http://localhost:1915/img/next-btn.png" style="height:15px">
                    </button>
                    </form>
                    </div>
                  </div>
                </div>


                <%
                           
                function convert(str) {
                  var date = new Date(str),
                    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                    day = ("0" + date.getDate()).slice(-2);
                  return [day, mnth,date.getFullYear() ].join("-");
                  
                }
                %>

               <!-- fileter section  starts -->
               <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
               <div class="material-textfield red">
                 <form method="POST"  action="/holiday_filter">
                <select  required  name="holi_filter" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    
                    <option value="">Choose Country......</option>
                    <% country.forEach(function (c_data) { %>
                      <option value="<%= c_data.ID %>"><%= c_data.NAME  %></option>
                      <% }) %>
                      
                  </select>
                 </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <button style="margin-top: 25px; font-size: 20px; border-radius: 5px;margin-right:50px;" class="edit-btn" >Filter</button>
              </form>
              <button onclick="window.location.href = '/secret/holiday';" style="margin-top: 25px; font-size: 20px; border-radius: 5px;margin-right:50px;" class="edit-btn" >Show All</button>
               
      </div>


               </div>
              
                <!-- fileter section  Ends -->


                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                       
                    <tr>
                          <th>SL NO</th>
                          <th>NAME</th>
                          <th>DATE</th>
                          <th>COUNTRY</th>
                        </tr>
                      </thead>
                      <tbody>  

                        <% if(msg=='false') { %>
                        <% h_data.forEach(function (holy) { %>
                            <tr>  
                              
                                <td><%= holy.ID %></td>  
                                <td><%= holy.NAME %></td> 
                                <td><%= convert(holy.DATE) %></td> 
                               
                                <td><%= holy.COUNTRY %></td> 
                               
                               
                                <td><a href="holiday_edit/<%= holy.ID %>"><i style="color: yellow;" class="fas fa-edit"></i>
                                
                                    <td><a href="holiday_delete/<%= holy.ID %>"><i style="color: yellow;" class="fas fa-trash-alt"></i>
                                
                                </form></td>
                            </tr>                                   
                         <% }) %>
<%} else if(msg=='true') {  %>
  <% h_data.forEach(function (holy) { %>
    <tr>  
      
        <td><%= holy.ID %></td>  
        <td><%= holy.NAME %></td> 
        <td><%= convert(holy.DATE) %></td> 
       
        <td><%= holy.COUNTRY %></td> 
       
       
        <td><a href="holiday_edit/<%= holy.ID %>"><i style="color: yellow;" class="fas fa-edit"></i>
        
            <td><a href="holiday_delete/<%= holy.ID %>"><i style="color: yellow;" class="fas fa-trash-alt"></i>
        
        </form></td>
    </tr>                                   
 <% }) %>

 <% } %>



                        </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </section>
      
    <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
  </body>
</html>