<%- include ('../secret/heade') %>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <label data-content="Employee ID" style="color: white;">Employee ID : </label>
  
            <input type="text"  readonly name="employee_id" value=""  style="
            background: none;
            color: yellow;
            border: none;"/>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                  <div class="wrapper1">
                      <div class="wrapper1">
                        <br>
                        <h2 class="form-heading">Leave History</h2>
                        <hr class="hr-divider">
                        <div class="row">
                        
                       
                          
  
                          <!--Table Start-->
  
  
  
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="container">
                                  <div class="row">
                                    <div class="col-12">
                                      <table class="table table-borderless ">
                                        <thead>
                                          <tr>
                                            <th scope="col">Sl. no.</th>
                                            <th scope="col">employee first name</th>
                                            <th scope="col">employee last name</th>
                                            <th scope="col">Leave Type</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                            <th scope="col">Duration</th>
                                            <th scope="col" >Status</th>
                                          </tr>
                                        </thead>
                                        <tbody>  
                                          <% var count=0; 
                                            leaveInfo.forEach(function (user) { 
                                              count++;
                                              console.log(user.ID); %>
                                             <tr> 
                                              <form method="post" action="/secret/leave_admin/myaction1"> 
                                                 <input type="hidden" name="leaveRecordId" value="<%= user.ID %>" > 
                                                 <td><%= count %></td>
                                                 <td><%= user.FIRTS_NAME %></td>
                                                 <td><%= user.LAST_NAME %></td>
                                                 <td><%= user.NAME %></td>
                                                 <% var from=user.FROM_DATE%>
                                                 <td><%= from.toISOString().slice(0,10) %></td>
                                                 <% var to=user.TO_DATE%>
                                                 <td><%= to.toISOString().slice(0,10) %></td>
                                                 <td><%= user.Duration %></td>
                                                 <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button id="applyBtn" href="/secret/leave_admin/<%= user.ID %>" class="btn btn-outline-warning" style = "position:relative; left:-45px;">&nbsp<li class="fas fa-thumbs-up"></li> Approve</button></td>
                                                </form>
                                                </tr>                                   
                                          <% }) %>
                                          </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div> 
                          </div>
                        </div>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
    <script>
      function passvalue()
      {
        var leave_type=document.getElementsId("1").value;
        localStorage.setItem("textvalue" ,leave_type);
        return false;
      }
    </script>
          





  </body>
</html>