<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dark Bootstrap Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="http://localhost:1915/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="http://localhost:1915/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="http://localhost:1915/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="http://localhost:1915/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="http://localhost:1915/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="http://localhost:1915/img/favicon.ico">
  </head>
  <body>
    <header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
          <div class="search-inner d-flex align-items-center justify-content-center">
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="#">
              <div class="form-group">
                <input type="search" name="search" placeholder="What are you searching for...">
                <button type="submit" class="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="http://localhost:1915/" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase">
                <img src="http://localhost:1915/img/0.png">
              </div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <div class="right-menu list-inline no-margin-bottom">    
            <div class="list-inline-item"><a href="#" class="search-open nav-link"><i class="icon-magnifying-glass-browser"></i></a></div>
            <div class="list-inline-item dropdown"><a id="navbarDropdownMenuLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link messages-toggle"><i class="icon-email"></i><span class="badge dashbg-1">5</span></a>
              <div aria-labelledby="navbarDropdownMenuLink1" class="dropdown-menu messages"><a href="#" class="dropdown-item message d-flex align-items-center">
                  <div class="profile"><img src="img/avatar-3.jpg" alt="..." class="img-fluid">
                    <div class="status online"></div>
                  </div>
                  <div class="content">   <strong class="d-block">Nadia Halsey</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">9:30am</small></div></a><a href="#" class="dropdown-item message d-flex align-items-center">
                  <div class="profile"><img src="img/avatar-2.jpg" alt="..." class="img-fluid">
                    <div class="status away"></div>
                  </div>
                  <div class="content">   <strong class="d-block">Peter Ramsy</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">7:40am</small></div></a><a href="#" class="dropdown-item message d-flex align-items-center">
                  <div class="profile"><img src="img/avatar-1.jpg" alt="..." class="img-fluid">
                    <div class="status busy"></div>
                  </div>
                  <div class="content">   <strong class="d-block">Sam Kaheil</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">6:55am</small></div></a><a href="#" class="dropdown-item message d-flex align-items-center">
                  <div class="profile"><img src="img/avatar-5.jpg" alt="..." class="img-fluid">
                    <div class="status offline"></div>
                  </div>
                  <div class="content">   <strong class="d-block">Sara Wood</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">10:30pm</small></div></a><a href="#" class="dropdown-item text-center message"> <strong>See All Messages <i class="fa fa-angle-right"></i></strong></a></div>
            </div>
           
            
            <!-- Languages dropdown    -->
            <div class="list-inline-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src="img/flags/16/GB.png" alt="English"><span class="d-none d-sm-inline-block">English</span></a>
              <div aria-labelledby="languages" class="dropdown-menu"><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/DE.png" alt="English" class="mr-2"><span>German</span></a><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/FR.png" alt="English" class="mr-2"><span>French  </span></a></div>
            </div>
            <!-- Log out               -->
            <div class="list-inline-item logout">                   <a id="logout" href="../views/login.ejs" class="nav-link"> <span class="d-none d-sm-inline">Logout </span><i class="icon-logout"></i></a></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5">Mark Stephen</h1>
            <p>Web Designer</p>
          </div>
        </div>
        
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
          <li class="active"><a href="http://localhost:1915/secret/leave_home"> <i class="icon-home"></i>Leave</a></li>
          <li><a href="tables.html"> <i class="icon-grid"></i>Tables </a></li>
          <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
          <li><a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>
          <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Example dropdown </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
            </ul>
          </li>
          <li><a href="login.html"> <i class="icon-logout"></i>Login page </a></li>
        </ul><span class="heading">Extras</span>
        <ul class="list-unstyled">
          <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
          <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
          <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
        </ul>
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <label data-content="Employee ID" style="color: white;">Employee ID : </label>
  
            <input type="text"  readonly name="employee_id" value="<%= print1[0].EMP_ID %>"  style="
            background: none;
            color: yellow;
            border: none;"/>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                  <div class="wrapper1">
                      <br>
                      <h2 class="form-heading">Leave Details</h2>
                      <hr class="hr-divider">
                      <div class="row">
                      
                     
                        

                        <!--Table Start-->



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="container">
                                <div class="row">
                                  <div class="col-12" style=" padding-left: 100px;">
                                    <table class="table table-borderless ">
                                      <thead>
                                        <tr>
                            
                                          <th scope="col">Leave Type</th>
                                          <th scope="col">Total Leave</th>
                                          <th scope="col">Balace</th>
                                          <th scope="col" >Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>  
                                        <% var leave_types=[];
                                           var flag=-1;
                                           leaveInfo.forEach(function (user) {
                                                for(var i=0;i < leave_types.length;++i){
                                                  if(leave_types[i][0]==user.NAME){
                                                    flag=i;  
                                                    break;                                                  
                                                  }
                                                }
                                                if(flag!=-1){
                                                  if((leave_types[flag][2]-user.Duration) < 0)
                                                    leave_types[flag][2]=0;
                                                  else
                                                    leave_types[flag][2]-=user.Duration;
                                                }
                                                else{
                                                  duration=user.NO_OF_DAYS-user.Duration;
                                                  if(duration < 0)
                                                    leave_types.push([user.NAME,user.NO_OF_DAYS,0]);
                                                  else
                                                    leave_types.push([user.NAME,user.NO_OF_DAYS,duration]);
                                                }
                                            })%>
                                            
                                            <% for(var i=0; i < leave_types.length; i++) { %>
                                           <tr> 
                                            <form method="post" action="/secret/leave_home/myaction"> 
                                               <td><input name="leaveName" readonly value="<%= leave_types[i][0] %>" style="
                                                background: none;
                                                border: none;
                                                color: white;
                                                width:100px;
                                            "/></td>
                                               <td><%= leave_types[i][1] %></td>
                                               <td><input name="leaveBalance" readonly value="<%= leave_types[i][2]%>" style="
                                                background: none;
                                                border: none;
                                                color: white;
                                                width:100px;
                                            "/></td>
                                               <td><button id="applyBtn" href="/secret/leave_home/<%= leave_types[i][0] %>" class="btn-submit" style = "position:relative; left:-45px;">Apply</button></td>
                                              
                                            </form>
                                               <% } %> 
                                      
                                           </tr>                                   
                                          <%
                                          console.log(leave_types) %>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div> 
                        </div>
                      </div>
                      </div>
                      <br><br>
                      <div class="wrapper1">
                        <br>
                        <h2 class="form-heading">Leave History</h2>
                        <hr class="hr-divider">
                        <div class="row">
                        
                       
                          
  
                          <!--Table Start-->
  
  
  
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="container">
                                  <div class="row">
                                    <div class="col-12">
                                      <table class="table table-borderless ">
                                        <thead>
                                          <tr>
                                            <th scope="col">Sl. no.</th>
                                            <th scope="col">Leave Type</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                            <th scope="col" >Status</th>
                                          </tr>
                                        </thead>
                                        <tbody>  
                                          <% var count=0; 
                                            leaveInfo.forEach(function (user) { 
                                              count++; %>
                                             <tr>  
                                                 <td><%= count %></td>
                                                 <td><%= user.NAME %></td>
                                                 <% var from=user.FROM_DATE%>
                                                 <td><%= from.toISOString().slice(0,10) %></td>
                                                 <% var to=user.TO_DATE%>
                                                 <td><%= to.toISOString().slice(0,10) %></td>
                                                 <% if(user.STATUS==1)
                                                       var status="Approved"
                                                    else
                                                       var status="Applied" %>
                                                 <td><%= status %></td>
                                             </tr>                                   
                                          <% }) %>
                                          </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div> 
                          </div>
                        </div>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
    <script>
      function passvalue()
      {
        var leave_type=document.getElementsId("1").value;
        localStorage.setItem("textvalue" ,leave_type);
        return false;
      }
    </script>
          





  </body>
</html>