<%- include ('../secret/heade') %>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <label data-content="Employee ID" style="color: white;">Employee ID : </label>
  
            <input type="text"  readonly name="employee_id" value="<%= print1[0].EMP_ID %>"  style="
            background: none;
            color: yellow;
            border: none;"/>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                  <div class="wrapper1">
                      <br>
                      <h2 class="form-heading">Leave Details</h2>
                      <hr class="hr-divider">
                      <div class="row">
                      
                     
                        

                        <!--Table Start-->



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="container">
                                <div class="row">
                                  <div class="col-12" style=" padding-left: 100px;">
                                    <table class="table table-borderless ">
                                      <thead>
                                        <tr>
                            
                                          <th scope="col">Leave Type</th>
                                          <th scope="col">Total Leave</th>
                                          <th scope="col">Balace</th>
                                          <th scope="col" >Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>  
                                        <% var leave_types=[];
                                           var flag=-1;
                                           leaveInfo.forEach(function (user) {
                                                for(var i=0;i < leave_types.length;++i){
                                                  if(leave_types[i][0]==user.NAME){
                                                    flag=i;  
                                                    break;                                                  
                                                  }
                                                }
                                                if(flag!=-1){
                                                  if((leave_types[flag][2]-user.Duration) < 0)
                                                    leave_types[flag][2]=0;
                                                  else
                                                    leave_types[flag][2]-=user.Duration;
                                                }
                                                else{
                                                  duration=user.NO_OF_DAYS-user.Duration;
                                                  if(duration < 0)
                                                    leave_types.push([user.NAME,user.NO_OF_DAYS,0]);
                                                  else
                                                    leave_types.push([user.NAME,user.NO_OF_DAYS,duration]);
                                                }
                                            })%>
                                            
                                            <% for(var i=0; i < leave_types.length; i++) { %>
                                           <tr> 
                                            <form method="post" action="/secret/leave_home/myaction"> 
                                               <td><input name="leaveName" readonly value="<%= leave_types[i][0] %>" style="
                                                background: none;
                                                border: none;
                                                color: white;
                                                width:100px;
                                            "/></td>
                                               <td><%= leave_types[i][1] %></td>
                                               <td><input name="leaveBalance" readonly value="<%= leave_types[i][2]%>" style="
                                                background: none;
                                                border: none;
                                                color: white;
                                                width:100px;
                                            "/></td>
                                               <td><button id="applyBtn" href="/secret/leave_home/<%= leave_types[i][0] %>" class="btn btn-outline-warning btn-lg" style = "position:relative; left:-45px;">Apply</button></td>
                                              
                                            </form>
                                               <% } %> 
                                      
                                           </tr>                                   
                                          <%
                                          console.log(leave_types) %>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div> 
                        </div>
                      </div>
                      </div>
                      <br><br>
                      <div class="wrapper1">
                        <br>
                        <h2 class="form-heading">Leave History</h2>
                        <hr class="hr-divider">
                        <div class="row">
                        
                       
                          
  
                          <!--Table Start-->
  
  
  
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="container">
                                  <div class="row">
                                    <div class="col-12">
                                      <table class="table table-borderless ">
                                        <thead>
                                          <tr>
                                            <th scope="col">Sl. no.</th>
                                            <th scope="col">Leave Type</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                            <th scope="col" >Status</th>
                                          </tr>
                                        </thead>
                                        <tbody>  
                                          <% var count=0; 
                                            leaveInfo1.forEach(function (user) { 
                                              count++; %>
                                             <tr>  
                                                 <td><%= count %></td>
                                                 <td><%= user.NAME %></td>
                                                 <% var from=user.FROM_DATE%>
                                                 <td><%= from.toISOString().slice(0,10) %></td>
                                                 <% var to=user.TO_DATE%>
                                                 <td><%= to.toISOString().slice(0,10) %></td>
                                                 <% if(user.STATUS==1)
                                                       var status="Approved"
                                                    else
                                                       var status="Applied" %>
                                                 <td><%= status %></td>
                                             </tr>                                   
                                          <% }) %>
                                          </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div> 
                          </div>
                        </div>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
    <script>
      function passvalue()
      {
        var leave_type=document.getElementsId("1").value;
        localStorage.setItem("textvalue" ,leave_type);
        return false;
      }
    </script>
          





  </body>
</html>