<%- include ('../secret/heade') %>
      <!-- Sidebar Navigation end-->
      
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-top no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                </div>
          </div>
          </div>
        </section>
        <section class="no-padding-top no-padding-bottom payroll-list-sec">
          <div class="container-fluid payroll-list">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <h2 class="form-heading-table">Employee List</h2>
                   
                    <hr class="hr-divider-table">
                    <br>
                  </div>
               <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="padding-top: 15px;">
               <div class="arrows" style="display: inline-block;">

  
                      <form method="get" action="/prev_travel" style="display: inline-block;">
                        <button>
                          <i style="color:#f0ad4e ;font-size: 30px;"  class="fas fa-chevron-left"></i>
                    </button>
                     </form>&nbsp;&nbsp;&nbsp;&nbsp;


                     <form method="get" action="/next_travel" style="display: inline-block;">
                      <button>
                             
                       
                        
                        

                      <i   style="color:#f0ad4e ;font-size: 30px;"  class="fas fa-chevron-right"></i>

                     
                    </button>
                    </form>
                    

                    </div>
              <%
                           
                function convert(str) {
                  var date = new Date(str),
                    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                    day = ("0" + date.getDate()).slice(-2);
                  return [day, mnth,date.getFullYear() ].join("-");
                  
                }
                %>

              
<br>
<!--  search employee starts         -->
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <form class="form-inline md-form mr-auto mb-4" method="POST"   action="/emp_find">
      <input class="form-control mr-sm-2" type="text" name="emp_id" placeholder="Employee ID" aria-label="Search" required>
      <button style="font-size: 20px;" class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">  <i class="fas fa-search"></i> Search</button>
     </form>
</div>
     
    

    <div style="margin-left: -40px;" class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <button onclick="window.location.href = '/';" style="font-size: 20px;" class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">  <i class="fas fa-eye"></i> Show All</button>

      </div>
      
  
      <% if(users.length==0) { %>
      <span style="color: red;font-size: 20px;">No Record Found</span>
<% } %>
<!--  search employee stopes         -->
        <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <tr>
                            <th>ID</th>
                            <th>Photo</th>
                            <th>Name<ation</th>
                            <th>Birth Date </th>
                            <th>Designation</th>
                            <th>Joining Date</th>
                            <th>Personal E-mail</th>
                            <th>Personal Phone</th>
                            <th>Work E-mail</th>
                            <th>Work Phone</th>
                        </tr>
                      </thead>        
                      <tbody>  

                  <% if(status =='false')  { %>      

                     <% for(var i=0;i<users.length;i++) { %>
                          <td><%= users[i].EMP_ID %></th>
                            <td><img   height="50px"  width="50px"  src="/assets/img/<%= users[i].PHOTO_PATH %>" class="rounded-circle player-img" alt="not uploaded"></td>
                          
                            <td><%=users[i].FIRTS_NAME +" " +users[i].MIDDLE_NAME +" "+users[i].LAST_NAME %></td>
                            <td><%=convert(users[i].DATE_OF_BIRTH) %></td>
                            <td><%=users[i].DESIGNATION %></td>
                            <td><%=convert( users[i].DATE_OF_JOIN) %></td>
                            <td><%=users[i].P_EMAIL %></td>
                            <td> <%=users[i].P_PHONE %></td>
                            <td> <%=users[i].W_EMAIL %></td>
                            <td> <%=users[i].W_PHONE %></td>
                            <td>
                              <td> <a href="secret/edit-user/<%= users[i].ID %>"><button class="btn btn-outline-warning"><i  class="fas fa-user-edit"></i></button>
                                <td> <a href="delete_emp/<%= users[i].ID %>"><button class="btn btn-outline-warning"><i  class="fas fa-user-times"></i></button>
                                </td>
                                <td>
                                  <a href="full_emp/<%= users[i].ID %>"><button class="btn btn-outline-warning"><i class="fas fa-eye"></i></button>
                                  </td>
                        </tr>
                                </form></td>
                            </tr>                                   
                         <% } %>

                         <% } else if(status == 'true') { %>

                          
                          <% for(var i=0;i<users.length;i++) { %>

                           
                            <td><%=users[i].EMP_ID %></th>
                              <td><img   height="50px"  width="50px"  src="/assets/img/<%= users[i].PHOTO_PATH %>" class="rounded-circle player-img" alt="not uploaded"></td>
                            
                              <td><%=users[i].FIRTS_NAME +" " +users[i].MIDDLE_NAME +" "+users[i].LAST_NAME %></td>
                              <td><%=convert(users[i].DATE_OF_BIRTH) %></td>
                              <td><%=users[i].DESIGNATION %></td>
                              <td><%=convert( users[i].DATE_OF_JOIN) %></td>
                              <td><%=users[i].P_EMAIL %></td>
                              <td> <%=users[i].P_PHONE %></td>
                              <td> <%=users[i].W_EMAIL %></td>
                              <td> <%=users[i].W_PHONE %></td>
                              <td>
                               <td>  <a href="secret/edit-user/<%=users[i].ID %>"><button class="btn btn-outline-warning"><i  class="fas fa-user-edit"></i></button></a>
                                <td> <a href="delete_emp/<%= users[i].ID %>"><button class="btn btn-outline-warning"><i  class="fas fa-user-times"></i></button>
                                  <a href="delete_emp/<%= users[i].ID %>"><button class="btn btn-outline-warning"><i class="fas fa-eye"></i></button>
                              </td>
                          </tr>
                                  </form></td>
                              </tr>                                   
                           <% } %>

                           <% } %>





                        </tbody>
                    </table>
                    <br>
                   
                  </section>
                  <br>
                
                
                  </div>
              </div>
            </div>
          </div>
        
       
  
    <%- include ('partials/footer'); -%>
    <script>

      function s(){
       
        
          swal({
        title: "Good job!",
        text: "record",
        icon: "success",
      });
    
        }
</script>  

    
  </body>
</html>