<%- include ('../secret/heade') %>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-top no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
               
              </div>
           
             
           
            </div>
          </div>
        </section>
        <section class="no-padding-top no-padding-bottom payroll-list-sec">
          <div class="container-fluid payroll-list">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <h2 class="form-heading-table">Employee Travel List</h2>
                   
                    <hr class="hr-divider-table">
                    <br>
                  </div>

                  
                 <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="padding-top: 15px;">

                 
                  <span style="color:#f0ad4e ; "> Page NO :  <%=page_no%></span>
                  <%  if(page_no==t_data.length) { %>
                  
                    <span style="color:#f0ad4e ; ">Last Page</span>
                    <%  }%>

                    <div class="arrows" style="display: inline-block;">

                      
                      <form method="get" action="/prev_travel" style="display: inline-block;">
                        <button>
                          <i style="color:#f0ad4e ;font-size: 30px;"  class="fas fa-chevron-left"></i>
                    </button>
                     </form>&nbsp;&nbsp;&nbsp;&nbsp;


                     <form method="get" action="/next_travel" style="display: inline-block;">
                      <button>
                             
                       
                        
                        

                      <i   style="color:#f0ad4e ;font-size: 30px;"  class="fas fa-chevron-right"></i>

                     
                    </button>
                    </form>
                   

</div>


                   



                <%
                           
                function convert(str) {
                  var date = new Date(str),
                    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                    day = ("0" + date.getDate()).slice(-2);
                  return [day, mnth,date.getFullYear() ].join("-");
                  
                }
                %>

              
<br>
<!--  search employee starts         -->
</div>

<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <form class="form-inline md-form mr-auto mb-4" method="POST"   action="/emp_search">
      <input class="form-control mr-sm-2" type="text" name="emp_id" placeholder="Employee ID" aria-label="Search" required>
      <button style="font-size: 20px;" class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">  <i class="fas fa-search"></i> Search</button>
     </form>

     
    </div>

    <div style="margin-left: -40px;" class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <button onclick="window.location.href = '/secret/travel_display';" style="font-size: 20px;" class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">  <i class="fas fa-eye"></i> Show All</button>

      </div>
  
      


<!--  search employee stopes         -->
               
<% if(t_data.length==0)  { %>
  <span style="color: red;"> NO RECORD FOUND</span>

  <% } %>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="text-left">Employee Id</th>
                          <th>Employee Name</th>
                          <th>From Date</th>
                          <th>To Date</th>
                          <th>Depature </th>
                          <th>Destination</th>
                          <th>Travel Type</th>
                          <th>Customer</th>
                          <th>Flight Details</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>Flight Details</th>
                         </tr>
                      </thead>
                      <tbody>  
<% if(status=='false') {   %>

                        <% for(var i=0;i<t_data.length;i++) { %>
                            <tr>  
                                <td><%= t_data[i].EMP_ID %></td>  
                                <td><%= t_data[i].FIRTS_NAME %></td>  
                                <td><%=convert(t_data[i].FROM_DATE) %></td>  
                                <td><%= convert(t_data[i].TO_DATE) %></td>  
                                <td><%= t_data[i].Depature %></td>  
                                <td><%= des[i].Destination %></td>  
                                <td><%= t_data[i].Travel_type %></td>  
                                <td><%= t_data[i].Customer %></td>  
                                <td><%= t_data[i].Flight %></td> 
                               
                              <td><a href="travel_edit/<%= t_data[i].ID %>"><button class="btn btn-outline-warning"><i  class="fas fa-edit"></i> Edit</button>
                                

                                    <td><a href="travel_delete/<%= t_data[i].ID %>"> <button class="btn btn-outline-warning"><i  class="fas fa-trash-alt"></i> Delete</button>
                                      <td><a href="travel_download/<%= t_data[i].ID %>"><button class="btn btn-outline-warning"><i  class="fas fa-download"></i> Download</button>

                                     
                                
                                </form></td>
                            </tr>                                   
                         <% } %>
<% } else if(status=='true') {  %>


  <% for(var i=0;i<t_data.length;i++) { %>
    <tr>  
        <td><%= t_data[i].EMP_ID %></td>  
        <td><%= t_data[i].FIRTS_NAME %></td>  
        <td><%=convert(t_data[i].FROM_DATE) %></td>  
        <td><%= convert(t_data[i].TO_DATE) %></td>  
        <td><%= t_data[i].Depature %></td>  
        <td><%= des[i].Destination %></td>  
        <td><%= t_data[i].Travel_type %></td>  
        <td><%= t_data[i].Customer %></td>  
        <td><%= t_data[i].Flight %></td> 
       
      <td><a href="secret/travel_edit/<%= t_data[i].ID %>"><button class="btn btn-outline-warning"><i  class="fas fa-edit"></i> Edit</button>
        

   <td><a href="secret/travel_delete/<%= t_data[i].ID %>"> <button class="btn btn-outline-warning"><i  class="fas fa-trash-alt"></i> Delete</button>
   <td><a href="secret/travel_download/<%= t_data[i].ID %>"><button class="btn btn-outline-warning"><i  class="fas fa-download"></i> Download</button>

             
        
        </form></td>
    </tr>     
    
    
    
 <% } %>
<% } %>

                        </tbody>
                    </table>
                    <br>
                   
                  </section>
                  <br>
                
                
                  </div>
              </div>
            </div>
          </div>
       
      
    <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

      function s(){
       
        
          swal({
        title: "Good job!",
        text: "record",
        icon: "success",
      });
    
        }
</script>  
    
  </body>
</html>