<%- include ('../secret/heade') %>
<!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form method="POST" action="/blogs/upload" enctype="multipart/form-data">
                  <div class="wrapper1">
                    <br>
                    <h2 class="form-heading">Enter Upcoming  Travel Details</h2>
                    <hr class="hr-divider">
         
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue" style="margin-top: 30px;">
                          <input type="text" name="employee_id" id="emp_id" required/>
                          <label data-content="Employee ID">Employee ID</label>
                        </div>
                        <span style="margin-left: 30px;
                        color: red;" id="empid-label"></span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red" style="margin-top: 30px;">
                          <input type="text"  style="color:#a9a9a9;" class="form-control-plaintext" readonly name="emp_name" id="emp_name" required/>
                          <label id="emp_namel"  data-content="Employee Name">Employee Name</label>
                       </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <span> From Date</span>
                          <input type="date" name="from_date" id="from_date" required/>
                        
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                            <span> To Date</span>
                          <input type="date" name="to_date" id="to_date" required/>
                       
                        
                       </div>
                      </div>
                    </div>
                    <br>
      
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <select name="depature_id" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option  selected>Depature...</option>
                                <% print.forEach(function (region) { %>
                                 <option value="<%= region.ID %>"><%= region.NAME  %></option>
                                 <% }) %>
                              </select>
                            
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                            <select name="destination_id" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option selected>Destination...</option>
                                <% print.forEach(function (region) { %>
                                  <option value="<%= region.ID %>"><%= region.NAME  %></option>
                                  <% }) %>
                              </select>
                       </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <select name="travel_type_id" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option selected>Travel Type...</option>
                               
                                <% print2.forEach(function (travel) { %>
                                  <option value="<%= travel.ID  %>"><%= travel.NAME  %></option>
                                  <% }) %>
                              </select>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                            <select name="customer_id" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option selected>Customer...</option>
                                <% print1.forEach(function (customer) { %>
                                  <option value="<%= customer.ID %>"><%= customer.NAME  %></option>
                                  <% }) %>
                              </select>
                       </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <span>Upload Flight Details</span>
                            <span id="err_file"  style="color: red;margin-left: 50px;font-size: 20px;"></span>
                           
                         <div class="form-group">
                        <input  id="flight" type="file" name="blogimage"/>

                         </div>
                       
                         </form>
                        </div>
                      </div>
                    </div>
      <br>
      <button id="add" style="margin-left: 30px;"  class="btn btn-outline-warning btn-lg"><i  class="fas fa-plus-circle"></i> ADD</button>
    </div>
      </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script>
    $("#emp_id").focusout(function()
    {
      $.ajax({
        type:'get',
        data: {send_data: $("#emp_id").val()},
        url: '/fetch_id',
        success:function(newData)
        {
          if(newData=="Employee doesn't exist")
          {
            $("#empid-label").html(newData)
            $("#emp_name").val("");
          }
          else
          {
            $("#emp_name").val(newData)
            $("#empid-label").html("");
          }
        }
      })
    })
    </script>
<script>

function s(){
 
  
    swal({
  title: "Good job!",
  text: "record",
  icon: "success",
});

  }
  


</script>

<script>

  $("#flight").change(function () {
          if(fileExtValidate(this)) {
             if(fileSizeValidate(this)) {
               showImg(this);
              
             }
             
             else{
            $("#flight").val('');
          }
          }
          else{
            $("#flight").val('');
          }
          
          
        });
    
    


  </body>
</html>
