<%- include ('../user/header') %>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <label data-content="Employee ID" style="color: white;">Employee ID : </label>
            
            <input type="text"  readonly name="employee_id" value="<%= print1[0].EMP_ID %>"  style="
            background: none;
            color: yellow;
            border: none;"/>
            
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form method="POST" action="/leave_application">
                  <div class="wrapper1">
                      <br>
                      <div class="inliner"></div>


                      <h2 class="form-heading">Leave Application</h2>
                      <hr class="hr-divider">
                      <div class="row">
                        


                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="material-textfield red">
                            <% id.forEach(function (id) { %>
                            <input type="hidden" readonly name="leave_id"  value="<%= id.ID %>"/>
                            <input type="text" readonly name="leave_name"  value="<%= id.NAME %>"/>
                            <label data-content="Leave Type">Type of Leave></label>
                            <% }) %>
                         </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="material-textfield red">
                            <input type="text" name="leave_from"  onfocus="(this.type='date')"/>
                            <label data-content="From">From</label>
                         </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="material-textfield red">
                            <input type="text" name="leave_to" onfocus="(this.type='date')"/>
                            <label data-content="To">TO</label>
                         </div>
                        </div>
                        
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="material-textfield blue description">
                            <textarea name="description" required  style="width:100% ; color: white;background-color:#1f2029;" placeholder="Description"></textarea>
                          </div>
                        </div>
                      </div>
                      <br>
                      <center><button class="btn btn-outline-warning btn-lg">Apply</button></center>
                    </div>
      </div>
      </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
   
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
    <%- include ('../user/footer') %>
  </body>
</html>