<%- include ('../user/header') %>
<div class="page-content">
<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Personal Details</h2>
    </div>
  </div>

  
  <%
                           
  function convert(str) {
    var date = new Date(str),
      mnth = ("0" + (date.getMonth() + 1)).slice(-2),
      day = ("0" + date.getDate()).slice(-2);
    return [day, mnth,date.getFullYear() ].join("-");
    
  }
  %>

    <section class="no-padding-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form method="POST" action="/secret/add-user" enctype="multipart/form-data">
                <div class="wrapper1 no-padding-bottom">
                  
                  <br>
                  <span style="font-size: 20px;margin-left: 20px;color: white;">Employee ID : </span><span style="font-size: 20px;margin-left: 10px;color: yellow;">   <%=print[0].EMP_ID%></span>
                  <br>
                 
                <br>
  </div>
    </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="margin-top:30px;display: flex;flex-direction: column;">
              <div class="wrapper1" style="padding:30px 15px;width:100%;height:100%;">
             
                <br>
                <div class="employee-image">
                  <img src="/assets/img/<%=print[0].PHOTO_PATH%>" class="img-thumbnail" alt="Cinque Terre" width="150" height="150"> 
                </div>
                <div class="personal-info" style="text-align: left;margin-top:30px">
                  <p class="set-border-bottom">Name : <b style="color:white"><%= print[0].FIRTS_NAME %> <%= print[0].MIDDLE_NAME %> <%= print[0].LAST_NAME %> </b> </p>
                  <p class="set-border-bottom">Gender : <b style="color:white"> <%= print[0].GENDER %></b></p>
                  <p class="set-border-bottom">Date of birth : <b style="color:white"><%= convert(print[0].DATE_OF_BIRTH) %></b></p>
                  <p class="set-border-bottom">Date of joining : <b style="color:white"><%= convert(print[0].DATE_OF_JOIN) %></b></p>
                  <p class="set-border-bottom">Designation : <b style="color:white"><%= print[0].DESIGNATION %></b></p>
                  <p class="set-border-bottom">Reporting To : <b style="color:white"><%= R_NAME[0].FIRTS_NAME %> <%= R_NAME[0].MIDDLE_NAME %> <%= R_NAME[0].LAST_NAME %> </b> </p>
                  <p class="set-border-bottom">Personal Email : <b style="color:white"><%= print[0].P_EMAIL %></b></p>
                  <p class="set-border-bottom">Personal Phone : <b style="color:white"><%= print[0].P_PHONE %></b></p>
                  <p class="set-border-bottom">Work Email : <b style="color:white"><%= print[0].W_EMAIL %></b></p>
                  <p class="set-border-bottom">Work Phone : <b style="color:white"><%= print[0].W_PHONE %></b></p>
                  <p class="set-border-bottom">Country : <b style="color:white"><%= print[0].country_name %></b></p>
                </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="margin-top:30px;">
              <div class="wrapper1" style="padding:30px 15px;width:100%;height:100%;">
                <h1 style="font-size:24px;text-align: left;">Education Details</h1>
                <br>
                <% print2.forEach(function (user,index) { %>
                <div class="personal-info" style="text-align: left;">
                  <br>
                 
                  <p class="set-border-bottom">Education Branch : <b style="color:white"><%= user.edu_branch_name %></b> &nbsp;&nbsp; Grade : <b style="color:white"><%= user.edu_grade_name %> </b> </p>
                  <p class="set-border-bottom">Education Type : <b style="color:white"><%= user.edu_type_name %></b> &nbsp;&nbsp; Percentage : <b style="color:white"><%= user.PERCENTAGE %> </b> </p>
                </div>
                <% }) %>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="margin-top:30px;">
              <div class="wrapper1" style="padding:30px 15px;width:100%;height:100%;">
              
                <br>
                <div class="personal-info" style="text-align: left;">
                  <p class="set-border-bottom">Account Holder Name : <b style="color:white"><%= print3[0].ACC_HOLD_NAME %></b> </p>
                  <p class="set-border-bottom">Account Number : <b style="color:white"><%= print3[0].ACC_NO %></b> </p>
                  <p class="set-border-bottom">IFSC Code : <b style="color:white"><%= print3[0].IFSC_CODE %></b> </p>
                  <p class="set-border-bottom">Bank Name : <b style="color:white"><%= print3[0].BANK_NAME %></b> </p>
                  <p class="set-border-bottom">Branch Name : <b style="color:white"><%= print3[0].BRANCH_NAME %></b> </p>
                  <p class="set-border-bottom">SWIFT Code : <b style="color:white"><%= print3[0].SWIFT_CODE %></b> </p>
                </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="margin-top:30px;">
              <div class="wrapper1" style="padding:30px 15px;width:100%;height:100%;">
                <h1 style="font-size:24px;text-align: left;">Experience Details</h1>
                <br>
                <% print4.forEach(function (user,index) { %>
                <div class="personal-info" style="text-align: left;">
                  <br>
                
                  <p class="set-border-bottom">Company Name : <b style="color:white"><%= user.COMPANY_NAME %></b> </p>
                  <p class="set-border-bottom">Designation : <b style="color:white"><%= user.DESIGNATION %></b> </p>
                  <p class="set-border-bottom">From : <b style="color:white"><%= convert(user.FROM_DATE) %></b> &nbsp;&nbsp; To : <b style="color:white"><%= convert(user.TO_DATE) %></b></p>
                  <p class="set-border-bottom">Exprence Certificate : <object data="http://localhost:1915/exp_cert/<%=user.EXP_CERTIFICATE_PATH %>" <b style="color:white"> <i class="fas fa-file-pdf"></i>  View File </b> </object></p>
                </div>
                <% }) %>
                </div>
            </div>

          </div>
          
        </div>
      </section>
      </div>
</div>
<%- include ('../user/footer'); -%>
</body>

</html>